<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Refit Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for( 'bower.static', filename='bootstrap/dist/css/bootstrap.min.css' ) }} rel="stylesheet" media="screen">
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/keen-dashboards.css' ) }}>
    <link href={{ url_for( 'bower.static', filename='bootstrap-toggle/css/bootstrap-toggle.min.css' ) }} rel="stylesheet">
    <link href={{ url_for( 'static', filename='./css/main.css' ) }} rel="stylesheet" media="screen">
    <link href={{ url_for( 'static', filename='./css/chart.css' ) }} rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Refit
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{ google_fit_user }}</a></p>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <div class="checkbox">
            <label>
              <span class="glyphicon glyphicon-flash"></span>
              RI
            </label>
            <input type="checkbox" data-toggle="toggle" data-onstyle="success" style="float: left;">
          </div>
          <div class="checkbox">
            <label>
              <span class="glyphicon glyphicon-road"></span>
            </label> Steps
            <input id="toggle-steps" type="checkbox" data-toggle="toggle" data-onstyle="info">
          </div>
          <div class="checkbox">
            <label>
              <span class="glyphicon glyphicon-dashboard"></span>
              Kg
            </label>
            <input type="checkbox" data-toggle="toggle" data-onstyle="danger">
          </div>
          <div class="checkbox">
            <label>
              <span class="glyphicon glyphicon-heart"></span>
              HR
            </label>
            <input id="toggle-heart" type="checkbox" data-toggle="toggle" data-onstyle="default">
          </div>
          <div class="checkbox">
            <label>
              <span class="glyphicon glyphicon-time"></span>
              Sleep
            </label>
            <input type="checkbox" data-toggle="toggle">
          </div>
          <div class="checkbox">
            <label>
              <span class="glyphicon glyphicon-fire"></span>
              Cal burn
            </label>
            <input type="checkbox" data-toggle="toggle">
          </div>
        </div>
        <div class="col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <div class="row" style="height: 320px;">
            <div id="chart1" style="height:100%;" width="100%">
            </div>
          </div>
          <div class="row" style="height: 160px;">
            <div id="details">
              <hr/> Details
            </div>
            </td>
          </div>
        </div>
      </div>
    </div>
    <footer>
      Christian Heider Nielsen - <a href="http://cnheider.net">cnheider.net</a>
    </footer>

    <script src={{ url_for( 'bower.static', filename='jquery/dist/jquery.min.js' ) }}></script>
    <script src={{ url_for( 'bower.static', filename='bootstrap/dist/js/bootstrap.min.js' ) }}></script>
    <script src={{ url_for( 'bower.static', filename='bootstrap-toggle/js/bootstrap-toggle.min.js' ) }}></script>
    <script src={{ url_for( 'bower.static', filename='d3/d3.min.js' ) }}></script>
    <script src={{ url_for( 'bower.static', filename='d3-queue/d3-queue.js' ) }}></script>
    <script src={{ url_for( 'bower.static', filename='d3-tip/index.js' ) }}></script>
    <script src={{ url_for( 'static', filename='js/chart.js' ) }}></script>
    <script src={{ url_for( 'static', filename='js/chart-toogle.js' ) }}></script>

    <script>
      d3.queue()
        .defer(d3.json, "/data/steps")
        .defer(d3.json, "/data/hr")
        .defer(d3.json, "/data/sleep")
        .defer(d3.json, "/data/cal/burned")
        .defer(d3.json, "/data/weight")
        .await(function(error, steps, hr, sleep, cal, weight) {
          new Chart(error, steps, hr, sleep, cal, weight, "chart1");
        });
    </script>
  </body>

</html>
